<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>$(BUILD_MACHINE_OS_BUILD))</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(BUNDLE_SHORT_VERSION)</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>$(BUNDLE_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Timothy Bourke. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
	  <dict>
	    <key>CFBundleTypeName</key>
	    <string>MailDir Email Message</string>
	    <key>CFBundleTypeRole</key>
	    <string>Editor</string>
	    <key>LSHandlerRank</key>
	    <string>Owner</string>
	    <key>LSItemContentTypes</key>
	    <array>
	      <string>org.tbrk.muttlight.email</string>
	    </array>
	  </dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>com.apple.mail.eml</string>
				<string>public.item</string>
				<string>public.email-message</string>
				<string>public.message</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Email Message</string>
			<key>UTTypeIdentifier</key>
			<string>org.tbrk.muttlight.email</string>
			<key>UTTypeReferenceURL</key>
			<string>https://cr.yp.to/maildir.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>MDIR</string>
				<key>public.filename-extension</key>
				<array>
					<string>mbox:2,</string>
					<string>mbox:2,t</string>
					<string>mbox:2,s</string>
					<string>mbox:2,st</string>
					<string>mbox:2,r</string>
					<string>mbox:2,rt</string>
					<string>mbox:2,rs</string>
					<string>mbox:2,rst</string>
					<string>mbox:2,p</string>
					<string>mbox:2,pt</string>
					<string>mbox:2,ps</string>
					<string>mbox:2,pst</string>
					<string>mbox:2,pr</string>
					<string>mbox:2,prt</string>
					<string>mbox:2,prs</string>
					<string>mbox:2,prst</string>
					<string>mbox:2,f</string>
					<string>mbox:2,ft</string>
					<string>mbox:2,fs</string>
					<string>mbox:2,fst</string>
					<string>mbox:2,fr</string>
					<string>mbox:2,frt</string>
					<string>mbox:2,frs</string>
					<string>mbox:2,frst</string>
					<string>mbox:2,fp</string>
					<string>mbox:2,fpt</string>
					<string>mbox:2,fps</string>
					<string>mbox:2,fpst</string>
					<string>mbox:2,fpr</string>
					<string>mbox:2,fprt</string>
					<string>mbox:2,fprs</string>
					<string>mbox:2,fprst</string>
					<string>mbox:2,d</string>
					<string>mbox:2,dt</string>
					<string>mbox:2,ds</string>
					<string>mbox:2,dst</string>
					<string>mbox:2,dr</string>
					<string>mbox:2,drt</string>
					<string>mbox:2,drs</string>
					<string>mbox:2,drst</string>
					<string>mbox:2,dp</string>
					<string>mbox:2,dpt</string>
					<string>mbox:2,dps</string>
					<string>mbox:2,dpst</string>
					<string>mbox:2,dpr</string>
					<string>mbox:2,dprt</string>
					<string>mbox:2,dprs</string>
					<string>mbox:2,dprst</string>
					<string>mbox:2,df</string>
					<string>mbox:2,dft</string>
					<string>mbox:2,dfs</string>
					<string>mbox:2,dfst</string>
					<string>mbox:2,dfr</string>
					<string>mbox:2,dfrt</string>
					<string>mbox:2,dfrs</string>
					<string>mbox:2,dfrst</string>
					<string>mbox:2,dfp</string>
					<string>mbox:2,dfpt</string>
					<string>mbox:2,dfps</string>
					<string>mbox:2,dfpst</string>
					<string>mbox:2,dfpr</string>
					<string>mbox:2,dfprt</string>
					<string>mbox:2,dfprs</string>
					<string>mbox:2,dfprst</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
